.app__contactus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app__contactus-form {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 2rem; */
}
.app__contactus-form form {
  width: 80%;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.label input {
  all: unset;
  flex: 1;
  background: transparent;
  border: 1px solid var(--color-golden);
  margin: 1rem 0;
  padding: 1rem;
  font-size: 14px;
  color: var(--color-white);
  caret-color: var(--color-white);
  transition: background 0.4s ease;
}

.label textarea {
  outline: none;
  flex: 1;
  background: transparent;
  font-size: 14px;
  border: 1px solid var(--color-golden);
  margin: 1rem 0;
  padding: 1rem;
  color: var(--color-white);
  caret-color: var(--color-white);
  transition: background 0.4s ease;
}

/* .label input:focus,
.label textarea:focus {
    background: var(--color-black);
} */
.app__contactus .app__wrapper_img{
    justify-content: center;
}
/* .app__contactus-img {
  flex: 1;
  width: 100%;
  display: flex;
  
  align-items: flex-start;
  flex-direction: column;
} */
/* 
.app__contactus-img img {
  width: 100%;
} */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-white) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-black) inset;
}
