@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");

:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;
  --font-sign: "Oooh Baby", cursive;
  --color-golden: #dcca87;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
  --color-Dark-Jungle-Green: #242424;
  --header-height: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background: var(--color-golden);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #242424;
}

body {
  background-color: var(--color-black);
}

section {
  overflow: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
input {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-white) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-black) inset;
}
input:focus {
  background-color: transparent;
}
